.message{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: calc(8px * 1.5);
    border: none;
    font-size: 14px;
    background: white;
    box-shadow: 0 1px 6px 0 #DCDEE3;
}

.message--user{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid #DCDEE3;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #1E9CC0;
}

.message--time {
    font-weight: normal;
    color: #000;
}
